:root {
    --cinzaClaro: rgba(255, 255, 255, 0.733);
    --cinzaEscuro: rgb(95, 94, 94);
    --cinzaEscuroLeve: rgb(228, 228, 228);
    --selection: rgb(0, 162, 255);
}

.caixa {
    position: fixed;
    height: 100%;
    width: 400px;
    background-color: white;
    left: -450px;
    top: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.166) 0px 12px 48px;
    transition: 1s;

}

img {
    width: 286px;
    height: 180px;
}

.caixa .menu-items .menu-item {
    font-size: 20pt;
    cursor: pointer;
}
.caixa .menu-items .menu-item:hover
{
    background-color: var(--cinzaEscuroLeve);
}

.caixa .material-icons {
    width: 100%;
    text-align: right;
    font-size: 30pt;
    color:var(--cinzaEscuro);
    cursor: pointer;
}

body {
    overflow: visible;
    user-select: none;
}

html {
    font-family: 'Open sans';
    font-size: 17px;
}

.curve{
    width: 100%;
    height: 100px;
    border-bottom-left-radius:none 60%;
    border-bottom-right-radius:none 60%;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-bottom-left-radius:70% 20%;
    border-bottom-right-radius:70% 20%;
}

nav ul {
    height: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
nav ul span {
    display: inline-block;
    vertical-align: middle;
}
nav ul span .material-icons {
    color: rgba(255, 255, 255, 0.733);
    font-size: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
nav ul span .material-icons:hover {
    color: white;
}
nav ul span .text-menu {
    font-size: 20pt;
    color: rgba(255, 255, 255, 0.733);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
nav ul span .text-menu:hover {
    color: white;
}

nav .material-icons {
    text-align: right;
}

nav ul span .ativo {
    color:var(--selection);
}

h1+div {
    margin-bottom: 10px;
}

.title {
    font-size: 60pt;
    text-align: center;
    font-family: sans-serif;
}

.texto {
    padding: 10px;
    border-bottom: 1px solid rgb(210, 209, 209);
    width: 100%;
}

.nalinha {
    display: inline-block;
}

.texto div {
    padding-bottom: 10px;
}